<!-- created for iteration 6 -->

<% provide(:page_title, 'About') %>

<p id="notice"><%= notice %></p>

<div class="row">
   <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
<h1> About Me </h1>
<p> This is my portfolio project for SE. It's not much, but I did my best... :l</p>

    </div>
</div>        

<br><br>
<%= link_to 'Home', posts_path %>